@page
@model EditUserModel
<h1>Edit User</h1>

<form method="post">
    <div>
        <label for="FirstName">First Name:</label>
        <input asp-for="User.FirstName" />
    </div>
    <div>
        <label for="LastName">Last Name:</label>
        <input asp-for="User.LastName" />
    </div>
    <div>
        <label for="Gender">Gender:</label>
        <select asp-for="User.Gender">
            <option value="0">Male</option>
            <option value="1">Female</option>
        </select>
    </div>
    <div>
        <label for="IsMarried">Married: </label>
        <input type="checkbox" asp-for="User.IsMarried" />
    </div>
    <div>
        <label for="DateOfBirth">Date of Birth:</label>
        <input type="date" asp-for="User.DateOfBirth" />
    </div>
    <div>
        <label for="Position">Job Position:</label>
        <input asp-for="User.Position" />
    </div>
    <div>
        <label for="EmailAddress">Email Address:</label>
        <input type="email" asp-for="User.EmailAddress" />
    </div>
    <div>
        <label for="PhoneNumber">Phone Number:</label>
        <input type="tel" asp-for="User.PhoneNumber" />
    </div>
    <input type="hidden" asp-for="User.Id" />
    <input type="hidden" asp-for="User.DateOfBirth" />
    <button type="submit">Save</button>
</form>
<a asp-page="Users">Back to Users</a>
